<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Aspern prototype</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>

<!-- Materialize -->
<link rel = "stylesheet"
href = "https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel = "stylesheet"
href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<script type = "text/javascript"
src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
</script> 

<!-- Mapbox Assembly -->
<link
href="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.min.css"
rel="stylesheet"
/>
<script src="https://api.mapbox.com/mapbox-assembly/v1.3.0/assembly.js"></script>

<!-- Bootstarp -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


<!-- Turf  -->

<script src="https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js"></script>
<script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>

<!-- Draw -->

<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>


<!-- Plotly -->
<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

<style>
body { 
    margin: 0; 
    padding: 0; 
  }
 #map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    /* width: 100%;  */
  } 
/* 
#panel {
    border: 1px solid rgba(0, 0, 0, 0.05); 
    position: absolute;
    right: 16px;
    top:16px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
  } */

/* h4 {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 16px;
    
  } */
  /* ul{
    list-style-type: none;
    margin: 0;
    padding: 16px;
    width: 300px;
  }*/
  ul span{
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%
  } 
  .dropdown-menu {
    /* https://codepen.io/trstnpr/pen/abomLGa -->source scroll */
  height: 400px;
  width: 400px;
   /*border: 1px  solid #eee; */
  padding: 5px;
  overflow-y: auto;
  }

  /* dt{
    margin-left: 0;
    margin-bottom: 8px;
    font-weight: bold;
  } */

  .list-group {
    /* width: 250px; */
    width: 300px;

  }

  .mapboxgl-popup {
    max-width: 250px;
  }

  .mapboxgl-popup-content{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    /* min-width: 200px;
    max-width: 400px; */
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    width: 250px;
  }
  /* draw box */
  .calculation-box {
      height: 75px;
      width: 150px;
      position: absolute;
      /* bottom: 40px; */
      
      left: 50px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 15px;
      text-align: center;
      top: 20px;
  }

  p {
      font-family: 'Open Sans';
      margin: 0;
      font-size: 13px;
  }

    .navbar {
        border-width: 1.5px;
        border-style: solid;

    }

    .split {
        height: 70%;
        width: 80%;
        position: fixed;
        z-index: 1;
        /* top: 0; */
        overflow-x: hidden;
        padding-top: 20px;
    }
        /* Control the left side */
    .left {
        left: 0;
    }
    /* Control the right side */
    .right {
        right: 0;
        height: 80%;
        width: 20%;
        overflow: auto;
    }
    /* Control the bottom side */
    .bottom {
        bottom: 0;
        height: 30%;
        width: 100%;
    }
    .header {
        float:inline-start;
        overflow: hidden;
        /* background-color: #f1f1f1; */
        padding: 20px 10px;
    }
    .offcanvas-body {
      position: absolute;
      top:90px;
    }
    .offcanvas {
      overflow-y: auto;
    }
    .btn-group-sm {
      position: absolute;
      /* left: 30px; */
      top:70px;
    }
    .form-control {
        width: auto;
    }

    /* layers navbar  */
    #menu {
        background: #fff;
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-family: 'Open Sans', sans-serif;
    }

    #menu a {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    #menu a:last-child {
        border: none;
    }

    #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
    }

    #menu a.active {
        background-color: #3887be;
        color: #ffffff;
    }

    #menu a.active:hover {
        background: #3074a4;
        /* color: #00008b; */
    }
    #btn-open-layers {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
        border-radius: 3px;
        width: 50px;
        height: 25px;
        align-content:flex-start
    }

    /* https://stackoverflow.com/questions/73292950/change-bootstrap-offcanvas-size-via-css-bootstrap-5-2 */
    .offcanvas-size-sm {
    --bs-offcanvas-width: min(95vw, 250px) !important;
    }

    .navbar-nav {
        width: 50px;
    }

    .form-check-input:checked {
        background-color: #404040;
        border-color:rgba(0, 0, 0, 0.25);
    }
    .offcanvas-end {
        height:70%;
    }
    /* for the range */
    /* source: https://stackoverflow.com/questions/40534973/changing-the-color-of-the-range-slider-in-materializecss */
    input[type=range]::-webkit-slider-thumb {
        background-color: #757d82;
    }
    input[type=range]::-moz-range-thumb {
        background-color: #757d82;
    }
    input[type=range]::-ms-thumb {
        background-color: #757d82;
    }
    /***** These are to edit the thumb and the text inside the thumb *****/
    input[type=range] + .thumb {
        background-color: #dedede;
    }
    input[type=range] + .thumb.active .value {
        color: #757d82;
    }


    [type="checkbox"]:checked+label:before {
        border-right: 2px solid #757d82;
    border-bottom: 2px solid #757d82;
    }

    /* #range {
        overflow-y: hidden;
    } */




</style>
</head>
<body>


<div id="map"  class="split left"></div>


<!-- LAYERS CANVAS  -->
<button id="btn-open-layers" class="btn btn-outline-secondary " type="button" >...</button>
<div class="split left offcanvas offcanvas-start offcanvas-size-sm" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Layers</h5>
    <button id="btn-close-layers" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="prototype_layerWGS84" >
        <label class="form-check-label" for="prototype_layerWGS84">
            prototype_layerWGS84
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspern_blocks_attr">
        <label class="form-check-label" for="aspern_blocks_attr">
            aspern_blocks_attr
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspern_realUseBlocks" >
        <label class="form-check-label" for="aspern_realUseBlocks">
            aspern_realUseBlocks
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspern_bkmBlocks">
        <label class="form-check-label" for="aspern_bkmBlocks">
            aspern_bkmBlocks (3D)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspern_landuse">
        <label class="form-check-label" for="aspern_landuse">
            aspern_landuse
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspern_roads" >
        <label class="form-check-label" for="aspern_roads">
            aspern_roads
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspern_publiclines">
        <label class="form-check-label" for="aspern_publiclines">
            aspern_publiclines
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspern_trees_blocks">
        <label class="form-check-label" for="aspern_trees_blocks">
            aspern_trees_blocks
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aspern_publicstops" >
        <label class="form-check-label" for="aspern_publicstops">
            aspern_publicstops
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="shops">
        <label class="form-check-label" for="shops">
            shops
        </label>
      </div>


  </div>
</div>


<!-- RIGHT CANVAS  -->
<div class="split right offcanvas offcanvas-end show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Properties</h5>
    <!--<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
       <button style="display:none" id="change" type="button" class="btn btn-outline-dark">Change</button>
      <button style="display:none" id="save" type="button" class="btn btn-outline-dark">Save</button>
      <button style="display:none" id="cancel" type="button" class="btn btn-outline-dark">Cancel</button>
    </div>-->

  </div>
  <div class="offcanvas-body">
    <div id="property-body"></div>

    <!-- <div id="range" >
        <form action="#" style="width:160px">
            <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
            </p>
        </form>
    </div> -->

  </div>
</div>


<!-- BOTTOM CANVAS  -->
<div class="split left bottom split right offcanvas offcanvas-bottom show" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Graphs</h5>
        </div>
        <div class="offcanvas-body">

            <div id="graph1"></div>
            <div id="graph2"></div>

        </div>
</div>



<script>

// MAP ~~~~~

  mapboxgl.accessToken = 'pk.eyJ1IjoiaXVsaWFtaWhhZWxhIiwiYSI6ImNsNmdiMTEwZTBwYmczb3ByMGY2YnhwcGEifQ.iwOH4cy-z0B3Q8a41_yfSQ';
  const map = new mapboxgl.Map({
      container: 'map', // container ID
      // style: 'mapbox://styles/iuliamihaela/cl8n4v3m9009f14qii4lt2gtg',
      style: 'mapbox://styles/mapbox/light-v10',
      center: [16.507,48.225], // starting position [lng, lat]
      zoom: 13.66, // starting zoom
     });



// open geojson files that are going to get updated
var data = '';
data_prototype_layerWGS84 = '';
data_aspern_blocks_attr=''
data_aspern_realUseBlocks = '';
data_aspern_bkmBlocks = '';
data_aspern_landuse = '';
data_aspern_roads = '';
data_aspern_publiclines = '';
data_aspern_trees_blocks = '';
data_aspern_publicstops = '';
data_shops = '';
//open the files that are gonna stay intact
original_data_prototype_layerWGS84 = '';
original_data_aspern_blocks_attr=''
original_data_aspern_realUseBlocks = '';
original_data_aspern_bkmBlocks = '';
original_data_aspern_landuse = '';
original_data_aspern_roads = '';
original_data_aspern_publiclines = '';
original_data_aspern_trees_blocks = '';
original_data_aspern_publicstops = '';
original_data_shops = '';
var data_from_python = '';


const file_path = ["../data/prototype_layerWGS84.geojson","../data/final/aspern_blocks_attr.geojson", "../data/final/aspern_realUseBlocks.geojson", "../data/final/aspern_bkmBlocks.geojson", "../data/final/aspern_landuse.geojson", "../data/final/aspern_roads.geojson", "../data/final/aspern_publiclines.geojson", "../data/final/aspern_trees_blocks.geojson", "../data/final/aspern_publicstops.geojson", "../data/final/shops.geojson"]


//..............open all files...............//
cnt = 0, xmlhttp = new XMLHttpRequest(), method = "GET";
function getXml() {
  xmlhttp.open(method, file_path[cnt], true);
  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState === XMLHttpRequest.DONE && xmlhttp.status === 200) {
      // formatXml(arr[cnt], xhr.responseText);
      const json_response = JSON.parse(this.responseText);
      console.log(JSON.parse(this.responseText).name);
        switch(json_response.name){
            case 'prototype_layerWGS84':
                original_data_prototype_layerWGS84 = json_response;
                data_prototype_layerWGS84 = json_response;
                break;
            case 'aspern_blocks_attr4':
                data= json_response;
                data_aspern_blocks_attr = json_response;
                original_data_aspern_blocks_attr = json_response;
                break;
            case 'aspern_realUseBlocks':
                data_aspern_realUseBlocks = json_response;
                original_data_aspern_realUseBlocks = json_response;
                break;
            case 'aspern_bkmBlocks':
                data_aspern_bkmBlocks = json_response;
                original_data_aspern_bkmBlocks = json_response;
                break;
            case 'aspern_landuse':
                data_aspern_landuse = json_response;
                original_data_aspern_landuse = json_response;
                break;
            case 'aspern_roads':
                data_aspern_roads = json_response;
                original_data_aspern_roads = json_response;
                break;
            case 'aspern_publiclines':
                data_aspern_publiclines = json_response;
                original_data_aspern_publiclines = json_response;
                break;
            case 'aspern_trees_blocks':
                data_aspern_trees_blocks = json_response;
                original_data_aspern_trees_blocks = json_response;
                break;
            case 'aspern_publicstops':
                data_aspern_publicstops = json_response;
                original_data_aspern_publicstops = json_response;
                break;
            case 'shops':
                data_shops = json_response;
                original_data_shops = json_response;
                break;
        }
      cnt++;
      if (cnt < file_path.length) getXml(); // call again
    }
  };
  xmlhttp.send();
}
getXml(); // start it


// navigation
var nav = new mapboxgl.NavigationControl();
map.addControl(nav, 'bottom-left')



// functions for loading the different layers
function load_layer_prototype_layerWGS84(){
    // console.log('in funct 1: ', data_prototype_layerWGS84);
      map.addLayer(
      {
        'id': 'layer_prototype_layerWGS84',
        'type': 'fill',
        'source': {
            type: 'geojson',
            data: data_prototype_layerWGS84
            },
        'paint': {
        // 'line-color': '#6e599f',
        // 'line-opacity': 0.75
        'fill-color': [
                'match', // Use the 'match' expression: https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
                ['get', 'LAYER'], // Use the result 'STORE_TYPE' property
                'Grünfläche',
                '#60c36c',
                'sealed',
                '#856666',
                'Gebäude',
                '#ad949e',
                '#000000' // any other store type
              ]
        },
        'layout': {
                'visibility': 'none'
        },
      });
}

function load_layer_aspern_blocks_attr(){
    map.addLayer(
      {
        'id': 'layer_aspern_blocks_attr',
        'type': 'fill',
        'source': {
            type: 'geojson',
            data: data_aspern_blocks_attr
            },
        'paint': {
        'fill-color': [
                'match',
                ['get', 'main_use'],
                'greenSpace',
                '#60c36c',
                'sealedSpace',
                '#856666',
                'buildings',
                '#ad949e',
                'construction',
                '#808080',
                'water',
                '#0080FF',
                '#000000' // any other store type
              ]
        },
        'layout': {
                'visibility': 'none'
        },
      });
}

function load_layer_aspern_realUseBlocks(){
    map.addLayer(
      {
        'id': 'layer_aspern_realUseBlocks',
        'type': 'fill',
        'source': {
            type: 'geojson',
            data: data_aspern_realUseBlocks
            },
        'paint': {
        // 'line-color': '#6e599f',
        // 'line-opacity': 0.75
        'fill-color': [
                'match', // Use the 'match' expression: https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
                ['get', 'class'], // Use the result 'STORE_TYPE' property
                'green',
                '#60c36c',
                'sealed',
                '#856666',
                'buildings',
                '#ad949e',
                'construction',
                '#808080',
                'water',
                '#0080FF',
                '#000000' // any other store type
              ]
        },
        'layout': {
                'visibility': 'none'
        },
      });
}

function load_layer_aspern_bkmBlocks(){
    // map.setPitch(45);
    map.addLayer(
    {
        'id': 'layer_aspern_bkmBlocks',
        'source': {
            type: 'geojson',
            data: data_aspern_bkmBlocks
            },
        // 'filter': ['==', 'extrude', 'true'],
        'type': 'fill-extrusion',
        'paint': {
        'fill-extrusion-color': '#aaa',
        // Use an 'interpolate' expression to
        // add a smooth transition effect to
        // the buildings as the user zooms in.
        'fill-extrusion-height': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['to-number', ['get', 'height']]
        ],
        'fill-extrusion-base': [
        'interpolate',
        ['linear'],
        ['zoom'],
        15,
        0,
        15.05,
        ['get', 'min_height']
        ],
        'fill-extrusion-opacity': 0.6
        },
        'layout': {
                'visibility': 'none'
        },
    });
}

function load_layer_aspern_landuse(){
    map.addLayer(
      {
        'id': 'layer_aspern_landuse',
        'type': 'fill',
        'source': {
            type: 'geojson',
            data: data_aspern_landuse
            },
        'paint': {

        'fill-color': [
                'match',
                ['get', 'NUTZUNG_LEVEL2'],
                'Erholungs- u. Freizeiteinrichtungen',
                '#88db35',
                'Geschäfts,- Kern- und Mischnutzung (Schwerpunkt betriebl. Tätigkeit)',
                '#e2d4c0',
                'Gewässer',
                '#60c8c5',
                'Industrie- und Gewerbenutzung',
                '#de8d24',
                'Landwirtschaft',
                '#8baf76',
                'Naturraum',
                '#bce48b',
                'soziale Infrastruktur',
                '#c4bcef',
                'Technische Infrastruktur/Kunstbauten/Sondernutzung',
                '#c2d0a1',
                'weitere verkehrliche Nutzungen',
                '#a8cfc6',
                'Wohn- u. Mischnutzung (Schwerpunkt Wohnen)',
                '#d9bdc6',
                'Straßenraum',
                '#d2e0c5',

                '#000000' // any other store type
              ]
        },
        'layout': {
                'visibility': 'none'
        },
      });
}

function load_layer_aspern_roads(){
      map.addLayer(
      {
        'id': 'layer_aspern_roads',
        'type': 'line',
        'source': {
            type: 'geojson',
            data: data_aspern_roads
            },
        'paint': {

            'line-color': [
                // 'interpolate',
                // ['linear'],
                'match', // Use the 'match' expression: https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-match
                ['get', 'EDGECATEGORY'], // Use the result 'STORE_TYPE' property
                'G',
                '#FFFF66',
                'L',
                '#FF9933',
                'B',
                '#FF6666',
                '#000000' // any other store type
            ],
            'line-width':[
            'case',
                  ['<=', ['to-number',  ['get', 'DEDICATEDWIDTH']], 5],
                  0.3,
                  ['<=', ['to-number',  ['get', 'DEDICATEDWIDTH']], 10],
                  0.5,
                  ['<=', ['to-number',  ['get', 'DEDICATEDWIDTH']], 20],
                  0.7,
                  ['<=', ['to-number',  ['get', 'DEDICATEDWIDTH']], 30],
                  0.85,
                  ['<=', ['to-number',  ['get', 'DEDICATEDWIDTH']], 40],
                  1,

                  1
            ]
        },
        'layout': {
                'visibility': 'none'
        },
      });
}

function load_layer_aspern_publiclines(){
    // console.log('in funct: ', data_aspern_publiclines);
    map.addLayer(
      {
        'id': 'layer_aspern_publiclines',
        'type': 'line',
        'source': {
            type: 'geojson',
            data: data_aspern_publiclines
            },
        'paint': {
            'line-color': [

                'match',
                ['get', 'LTYP'],
                '13',
                '#CC0000',
                '3',
                '#FF8000',
                '2',
                '#FFFF00',
                '5',
                '#00FF00',
                '9',
                '#00FFFF',
                '10',
                '#0000FF',
                '11',
                '#FF33FF',
                '4',
                '#FF3399',

                '#000000' // any other store type
            ],
        },
        'layout': {
                'visibility': 'none'
        },
      });
}

function load_layer_aspern_trees_blocks(){
    map.addLayer(
      {
        'id': 'layer_aspern_trees_blocks',
        'type': 'circle',
        'source': {
            type: 'geojson',
            data: data_aspern_trees_blocks
            },
        'paint': {
            'circle-color': [

                'match',
                ['to-string', ['get', 'height_code']],
                '0',
                '#99FF99',
                '1',
                '#66FF66',
                '2',
                '#33FF33',
                '3',
                '#00CC00',
                '4',
                '#00CC00',
                '5',
                '#009900',

                '#000000' // any other store type
            ],
        },
        'layout': {
                'visibility': 'none'
        },
      });
}

function load_layer_aspern_publicstops(){
    map.addLayer(
      {
        'id': 'layer_aspern_publicstops',
        'type': 'circle',
        'source': {
            type: 'geojson',
            data: data_aspern_publicstops
            },
        'paint': {
            'circle-color': [

                'match',
                ['to-string', ['get', 'line_typ']],
                '13',
                '#CC0000',
                '3',
                '#FF8000',
                '2',
                '#FFFF00',
                '5',
                '#00FF00',
                '9',
                '#00FFFF',
                '10',
                '#0000FF',
                '11',
                '#FF33FF',
                '4',
                '#FF3399',

                '#000000' // any other store type
            ],
        },
        'layout': {
                'visibility': 'none'
        },
      });
}

function load_layer_shops(){
    map.addLayer(
      {
        'id': 'layer_shops',
        'type': 'circle',
        'source': {
            type: 'geojson',
            data: data_shops
            },
        'paint': {
            'circle-color':

                '#000000'

        },
        'layout': {
                'visibility': 'none'
        },
      });
}



  map.on('style.load', () => {
      map.setFog({}); // Set the default atmosphere style
  });



  map.on('load', ()=>{

    load_layer_prototype_layerWGS84();
    load_layer_aspern_blocks_attr();
    load_layer_aspern_realUseBlocks();
    load_layer_aspern_bkmBlocks();
    load_layer_aspern_landuse();
    load_layer_aspern_roads();
    load_layer_aspern_publiclines();
    load_layer_aspern_trees_blocks();
    load_layer_aspern_publicstops();
    load_layer_shops();


    canvas_layers = document.getElementsByClassName('offcanvas-start');
    document.getElementById('btn-open-layers').onclick = (function(){
        console.log(canvas_layers);
        canvas_layers[0].className = 'show '+ canvas_layers[0].className;

    });
    document.getElementById('btn-close-layers').onclick = (function(){
        canvas_layers[0].className = canvas_layers[0].className.substring(4,canvas_layers[0].className.length);
    });


    ///... here comes code for switching between layers ... ///
    const layer_inputs = document.getElementsByClassName('form-check-input');

    for(const layer_input of layer_inputs){
        layer_input.onclick = function(e){
            // console.log(this);
            // console.log(e);

            const clickedLayer = 'layer_'+layer_input.id;
            // const check_id = (layer_input == 'aspern_blocks_attr') ? layer_input.id+'4' : layer_input.id;
            const check_id = layer_input.id;
            // console.log('data: ',eval('data_'+check_id));
            console.log('check id: ', check_id)


            if(!(layer_input.checked)){
                map.setLayoutProperty(
                    clickedLayer,
                    'visibility',
                    'none'
                );
                if(clickedLayer == 'layer_aspern_bkmBlocks'){
                    map.setPitch(0);
                }
                delete_graph();
            }
            // click a layer
            else
            {
                if(clickedLayer == 'layer_aspern_bkmBlocks'){
                    // loadIconsLayer();
                    map.setPitch(45);
                }

                map.setLayoutProperty(
                    clickedLayer,
                    'visibility',
                    'visible'
                );
                //if any left graph, delete it
                delete_graph();
                // load the graphs
                try{
                    eval('graph_'+check_id)(eval('data_'+check_id)); //+'()'
                }
                catch(err){
                    console.log('no graph function')
                }
            }





            map.on('mousemove', clickedLayer, (e) => {
                map.getCanvas().style.cursor = 'pointer';
                });
            map.on('mouseleave', clickedLayer, (e) => {
            map.getCanvas().style.cursor = '';
            });

            map.on('click', clickedLayer, (e)=>{
                // document.getElementById('change').style.display = "block";
                const clicked_feature = e.features[0];
                console.log('feature clicked: ', clicked_feature)
                // console.log(e.features[0]);
                //const id = e.features[0].properties.FMZK_ID;
                const f_class = e.features[0].properties.class;
                // console.log(data.features);



                var dict_id =''; // the id in the dict
                var id_property = '';
                var clicked_feature_id ='';
                console.log('data: ', eval('data_'+check_id));
                switch(clickedLayer){
                    case 'layer_prototype_layerWGS84':
                        //dict_id = eval('data_'+check_id).properties.BLK;
                        id_property = 'BLK';
                        clicked_feature_id = clicked_feature.properties.BLK;
                        break;
                    case 'layer_aspern_blocks_attr':
                        //dict_id = eval('data_'+check_id).properties.id;
                        id_property= 'id';
                        clicked_feature_id = clicked_feature.properties.id;
                        break;
                    case 'layer_aspern_realUseBlocks':
                        //dict_id = eval('data_'+check_id).properties.blockID;
                        id_property = 'blockID';
                        clicked_feature_id = clicked_feature.properties.blockID;
                        break;
                    case 'layer_aspern_bkmBlocks':
                        // console.log('data: ', val('data_'+check_id));
                        //dict_id = eval('data_'+check_id).properties.blockID;
                        id_property= 'FMZK_ID';
                        clicked_feature_id = clicked_feature.properties.FMZK_ID;
                        break;
                    case 'layer_aspern_landuse':
                        id_property= 'OBJECTID';
                        clicked_feature_id = clicked_feature.properties.OBJECTID;
                        break;
                    case 'layer_aspern_roads':
                        //dict_id = eval('data_'+check_id).properties.OBJECTID;
                        id_property= 'OBJECTID';
                        clicked_feature_id = clicked_feature.properties.OBJECTID;
                        break;
                    case 'layer_aspern_publiclines':
                        //dict_id = eval('data_'+check_id).properties.OBJECTID;
                        id_property= 'OBJECTID';
                        clicked_feature_id = clicked_feature.properties.OBJECTID;
                        break;
                    case 'layer_aspern_trees_blocks':
                        //dict_id = eval('data_'+check_id).properties.BAUM_ID;
                        id_property= 'BAUM_ID';
                        clicked_feature_id = clicked_feature.properties.BAUM_ID;
                        break;
                    case 'layer_aspern_publicstops':
                        //dict_id = eval('data_'+check_id).properties.OBJECTID;
                        id_property= 'OBJECTID';
                        clicked_feature_id = clicked_feature.properties.OBJECTID;
                        break;
                    case 'layer_shops':
                        //dict_id = eval('data_'+check_id).properties.osm_id;
                        id_property= 'osm_id';
                        clicked_feature_id = clicked_feature.properties.osm_id;
                        break;
                }
                console.log('cf id: ', clicked_feature_id);

                // const clicked_feature_id = e.features[0].properties[id_property];


                const properties = clicked_feature.properties;
                const properties_keys = Object.keys(properties);
                const properties_values = Object.values(properties);
                console.log('prop keys: ', properties_keys);
                console.log('prop values: ', properties_values);
                console.log('prop len: ',properties_values.length);


                // for popup
                // const popup_ul = document.createElement('ul');
                // popup_ul.className = "list-group list-group-flush";
                // for (let i=0; i< properties_keys.length; i++){
                //     const li = document.createElement('li');
                //     li.className = 'list-group-item';
                //     li.innerHTML = '<b>'+properties_keys[i]+'</b>: '+properties_values[i];
                //     popup_ul.appendChild(li);
                // }

                // var popup = new mapboxgl.Popup()
                //   .setLngLat(e.lngLat)
                //   .setDOMContent(popup_ul)
                //   .addTo(map);

                console.log();
                // for prop canvas
                const content = document.getElementById('property-body');
                content.innerHTML = ''; // delete previous content
                const ul = document.createElement('ul');
                ul.className = "list-group list-group-flush"
                ul.id = 'off-canvas';
                // ul.style = 'overflow: visible';
                for (let i=0; i< properties_keys.length; i++){
                    const li = document.createElement('li');
                    li.id = 'p'+ i.toString();
                    li.className = 'list-group-item';
                    // li.style ="display: inline;";
                    li.innerHTML = '<b>'+properties_keys[i]+'</b>: '+'<span>'+properties_values[i]+'</span>';
                    ul.appendChild(li);
                }
                content.appendChild(ul);
                function toggle_display(){
                    buttons_csc = document.getElementsByClassName('btn-outline-dark');
                    for(btn of buttons_csc) {
                    if (btn.style.display === "none") {
                    //   console.log('display none: ', btn);
                        btn.style.display = "block";
                    } else {
                    //   console.log('display block: ', btn)
                        btn.style.display = "none";
                    }
                    }
                }

                function change_properties(){
                    // <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                    change_ul = document.getElementById('off-canvas');
                    // change_ul.style = 'overflow-x: hidden';
                    // console.log(change_ul);
                    lis = change_ul.childNodes;
                    for (li of lis){
                    // li.style ="display: inline;";
                    var span_text = li.getElementsByTagName('span')[0].innerHTML;
                    // console.log('span_text: ', span_text, typeof span_text);
                    var li_prop = li.getElementsByTagName('b')[0].innerHTML;
                    //console.log(span_text);
                    li.getElementsByTagName('span')[0].innerHTML = '<input style="width:150px" type="text"'+'value="'+span_text+'"'+ 'class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">';
                    // console.log(li);


                    // putting the range for the flaeche property of the first layer
                    // clickedLayer == 'layer_prototype_layerWGS84'&&
                    range_property_list = ['height', 'FLAECHE', 'SHAPELENGTH','area', 'max_height', 'count_trees', 'count_trees20m', 'count_shops', 'count_stops50m', ];
                    if (range_property_list.includes(li_prop) && span_text!='null'){
                        console.log('right layer and prop')
                        // const range_el = document.getElementById('range');
                        // li.getElementsByTagName('span')[0].innerHTML = '<form action="#" style="width:160px; display:block"><p class="range-field"><input type="range" id="test5" min="0" max="100" /></p></form>';
                        // li.getElementsByTagName('span')[0].innerHTML = range_el.innerHTML;
                        if (Number(span_text)<10){
                            max_range_nr ='100'
                        }
                        else if (Number(span_text)>1000){
                            max_range_nr = String(Number(span_text)*3)
                        }
                        else{
                            max_range_nr = String(Math.pow(Number(span_text),2));
                        }

                        li.getElementsByTagName('span')[0].innerHTML = '\n        <form action="#" style="width:170px">\n            <p class="range-field">\n                <input type="range" id="test5" min="0" max="'+max_range_nr+'"  value="'+span_text+'"><span class="thumb"><span class="value"></span></span>\n            </p>\n        </form>\n    '
                        // String(Number(span_text)*3)
                    }


                    }
                }

                function save_properties(){
                    change_ul = document.getElementById('off-canvas');
                    lis = change_ul.childNodes;
                    inputs = change_ul.getElementsByTagName('input');
                    for (li = 0; li<lis.length; li++){
                    // console.log(li, ": ", inputs);
                    // console.log(li, ': ', inputs[li].value);
                    // console.log(lis[li].getElementsByTagName('span')[0].innerHTML);
                    // var span_text = lis[li].getElementsByTagName('span')[0].innerHTML;
                    // console.log(span_text);
                    lis[li].getElementsByTagName('span')[0].innerHTML = inputs[0].value;
                    }
                    // lis[0].getElementsByTagName('span')[0].innerHTML = inputs[0].value;
                    // lis[1].getElementsByTagName('span')[0].innerHTML = inputs[1].value;
                    // lis[2].getElementsByTagName('span')[0].innerHTML = inputs[2].value;
                    // lis[3].getElementsByTagName('span')[0].innerHTML = inputs[3].value;
                    // lis[4].getElementsByTagName('span')[0].innerHTML = inputs[4].value;
                    // lis[5].getElementsByTagName('span')[0].innerHTML = inputs[5].value;
                    // lis[6].getElementsByTagName('span')[0].innerHTML = inputs[6].value;
                    // lis[7].getElementsByTagName('span')[0].innerHTML = inputs[7].value;
                    // lis[8].getElementsByTagName('span')[0].innerHTML = inputs[8].value;
                }

                function save_dict_properties(){
                    console.log('save dict prop');
                    console.log('cf id: ', clicked_feature_id);
                    for (f of eval('data_'+check_id).features){
                        if ( f['properties'][id_property] == clicked_feature_id){
                            console.log('save the data into the dict');
                            // f is the clicked feature from the dictionary
                            console.log('found: ', f);
                            const dict_properties = f.properties;
                            const dict_properties_keys = Object.keys(dict_properties);
                            const dict_properties_values = Object.values(dict_properties);

                            change_ul = document.getElementById('off-canvas');
                            lis = change_ul.childNodes;
                            for (li = 0; li<lis.length; li++){
                                const dict_key = dict_properties_keys[li];
                                f['properties'][dict_key] = lis[li].getElementsByTagName('span')[0].innerHTML;
                                // dict_properties_values[li]= lis[li].getElementsByTagName('span')[0].innerHTML;
                            }
                            map.getSource(clickedLayer).setData(eval('data_'+check_id));
                            console.log('data after: ', f);


                            // console.log('compare dict: ', data_aspern_blocks_attr==eval('data_'+check_id));
                            // show changes for the graphs
                            delete_graph();
                            // load the graphs
                            try{
                                eval('graph_'+check_id)(eval('data_'+check_id));  //+'()' '+eval('data_'+check_id)+'
                            }
                            catch(err){
                                console.log('no graph function')
                            }


                            // send and receive geojson data to and from flask and nodejs

                            // function sendData(){
                            //     data = eval('data_'+check_id);
                            //     console.log('data is sending...')
                            //     const request = new XMLHttpRequest()
                            //     // request.open('POST', '/py?data='+JSON.stringify(data.features[1].properties));

                            //     request.onreadystatechange = function(){
                            //         //console.log(xhr.readyState);
                            //         if(request.readyState === 4 && request.status === 200){
                            //             response = request.responseText;
                            //             console.log('response from py on the map:  ', response);
                            //             data_from_python = response;
                            //     }};

                            //     request.open('POST', '/py?data='+JSON.stringify(f));
                            //     // request.open('POST', '/py?data='+JSON.stringify(eval('data_'+check_id)));
                            //     request.send(JSON.stringify(eval('data_'+check_id)));
                            // }
                            // sendData();

                           async function sendData(){
                                const query = await fetch('/flask/'+JSON.stringify(f), { method: 'POST', body: JSON.stringify(eval('data_'+check_id))});
                                const data = await query.json();
                                console.log(data);
                                data_from_python = data;
                            }
                            sendData();






                            break;
                        }

                    }
                }

                function cancel_changes(){

                    change_ul = document.getElementById('off-canvas');
                    lis = change_ul.childNodes;
                    for (li = 0; li<lis.length; li++){
                    lis[li].getElementsByTagName('span')[0].innerHTML = properties_values[li];
                    }
                }

                // when you click on a feature you can change directly its properties
                change_properties()

                //dynamically save the changes
                property_ul = document.getElementById('off-canvas');
                property_lis = property_ul.childNodes;
                property_inputs = property_ul.getElementsByTagName('input');
                for(const property_input of property_inputs){
                    property_input.onchange = function(e){
                        console.log('property chnage dynamically');
                            save_properties();
                            save_dict_properties();
                            change_properties();

                        //solve !!!
                        // you save to click on the feature again to change the properties again
                }}





                // const change_button = document.getElementById('change');
                // const save_button = document.getElementById('save');
                // const cancel_button = document.getElementById('cancel');

                // buttons_csc = document.getElementsByClassName('btn-outline-dark');

                // change_button.onclick = (function(){
                //     console.log('change button clicked');
                //     toggle_display();
                //     change_properties();
                // });
                // save_button.onclick = (function(){
                //     console.log('save button clicked');
                //     toggle_display();
                //     save_properties();
                //     save_dict_properties();
                // });
                // cancel_button.onclick = (function(){
                //     console.log('cancel button clicked');
                //     toggle_display();
                //     cancel_changes();
                // });


            });
        }
    }





    /////////////////////////



// ~~~~~ GRAPHS ~~~~~
function delete_graph(){
    document.getElementById('graph1').innerHTML = '';
    document.getElementById('graph2').innerHTML = '';
}


// main use of aspern_blocks_attr layer
function graph_aspern_blocks_attr(data){
    len_greenSpace = 0;
    len_sealedSpace = 0;
    len_buildings = 0;
    len_construction = 0;
    len_water = 0;

    console.log('data comparison: ', data==data_aspern_blocks_attr);

    // console.log("graph data: ", data_aspern_blocks_attr);
    for (f of data.features){
        switch(f['properties']['main_use']){
            case 'greenSpace':
                len_greenSpace++;
                break;
            case 'sealedSpace':
                len_sealedSpace++
                break;
            case 'buildings':
                len_buildings++
                break;
            case 'construction':
                len_construction++;
                break;
            case 'water':
                len_water++;
                break;
        }
    }

    graph1El = document.getElementById('graph1');
    var data1 = [
    {
        x: ['greenSpace', 'sealedSpace', 'buildings', 'construction', 'water'],
        y: [len_greenSpace, len_sealedSpace, len_buildings, len_construction, len_water],
        type: 'bar'
    }
    ];
    layout= {
        height : 300,
        width : 500,
    }
        Plotly.newPlot( graph1El, data1, layout);

    graph2El = document.getElementById('graph2');
    colors = ['#60c36c', '#856666', '#ad949e', '#808080', '#0080FF'];
    var data2 = [
    {
        labels: ['greenSpace', 'sealedSpace', 'buildings', 'construction', 'water'],
        values: [len_greenSpace, len_sealedSpace, len_buildings, len_construction, len_water],
        type: 'pie',
        marker: {
        colors: colors
    },
    }
    ];
    // var layout = {
    // height: 400,
    // width: 500
    // };
        Plotly.newPlot( graph2El, data2, layout);
}

// graph_aspern_blocks_attr();


// trees layer with species prop
function graph_aspern_trees_blocks(data){

    //bar chart ~~~~~
    dict = {}
    dict2 = {}
    // keys = Object.keys(dict);
    // values = Object.values(dict);
    for (f of data.features){// data_aspern_trees_blocks

        //bar chart
        if (Object.keys(dict).includes(f['properties']['species'])){
            dict[f['properties']['species']]++;
        }
        else{
            dict[f['properties']['species']]=0;
        }

        //time series
        if (f['properties']['year']!=0){
            if (Object.keys(dict2).includes(String(f['properties']['year']))){
                dict2[f['properties']['year']]++;
            }
            else{
                dict2[f['properties']['year']]=0;
            }
        }
    }
    // console.log('trees dict: ', dict);
    // console.log(Object.keys(dict));

    graph1El = document.getElementById('graph1');
    var data1 = [
    {
        x: Object.keys(dict),
        y: Object.values(dict),
        type: 'bar',
        marker: {
        color: '#00994C'
    },
    }
    ];
    layout= {
        height : 300,
        width : 500,
    }

        Plotly.newPlot( graph1El, data1,layout);



    // time series ~~~~

    // dict2 = {}
    // // keys = Object.keys(dict);
    // // values = Object.values(dict);
    // for (f of data.features){// data_aspern_trees_blocks
    //     if (f['properties']['year']!=0){
    //         if (Object.keys(dict2).includes(String(f['properties']['year']))){
    //             dict2[f['properties']['year']]++;
    //         }
    //         else{
    //             dict2[f['properties']['year']]=0;
    //         }
    //     }

    // }
    // console.log('trees dict: ', dict);
    // console.log(Object.keys(dict));

    graph2El = document.getElementById('graph2');
    var data2 = [
    {
        x: Object.keys(dict2),
        y: Object.values(dict2),
        type: 'scatter',
        marker: {
        color: '#00994C'
    },
    }
    ];
        Plotly.newPlot( graph2El, data2, layout);
}







});






</script>

</body>
</html>